<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>New Password Store</title>
	</head>
	<body>
		<form action="/newpasswordstore" , method="post">
			<input
				type="email"
				name="master_email"
				placeholder="Enter the email"
			/><br />
			<input type="url" name="url" placeholder="Enter the url" /><br />
			<input
				type="text"
				name="username"
				placeholder="Enter the username"
			/><br />
			<input
				type="password"
				name="password"
				placeholder="Enter the password"
			/><br />
			<input type="submit" />
		</form>
	</body>
</html>
